/* checkrecord.module.css */

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    min-height: 100vh;
    background-image: url("https://www.gameuidatabase.com/uploads/Genshin-Impact01032021-021443-79651.jpg");
    background-size: cover;
    text-align: center;
    font-family: Arial, sans-serif;
}

.checkRecordContainer {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 15px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    box-sizing: border-box; /* 确保padding和border被包含在width和height内 */
    overflow-y: auto; /* 垂直滚动条 */
}


.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.record-list {
    margin-top: 20px;
    align-items: center;
    max-width: 100%;
}

.table {
    max-width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #e0e0e0;
    padding: 15px;
    text-align: center;
}

.table th {
    font-weight: bold;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.cancelButton {
    background-color: #10b981;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cancelButton:hover {
    background-color: #047857;
}

.certificateModal {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.certificateModalOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modalHeader {
    display: flex;
    justify-content: flex-end;
}

.modalBody {
    max-height: 500px; /* Adjust the max-height as needed */
    overflow-y: auto; /* Allows scrolling for overflow content */
    padding: 20px; /* Adds some padding around the content */
}

.closeButton {
    background: none;
    border: none;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
}

.tableReset {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.tableReset th, .tableReset td {
    text-align: left;
    padding: 8px;
}

.modernTable {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.modernTable th, .modernTable td {
    border-bottom: 1px solid #f0f0f0;
    padding: 12px 15px;
}

.modernTable th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
}

.modernTable tbody tr:last-child td {
    border-bottom: none;
}

/* Hover effect for rows */
.modernTable tbody tr:hover {
    background-color: #f2f2f2;
}