.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    min-height: 100vh;
    background-image: url("https://www.gameuidatabase.com/uploads/Genshin-Impact01032021-021443-79651.jpg"); /* Add your background image URL */
    background-size: cover;
    text-align: center;
    font-family: Arial, sans-serif;
}

.moreInfoPage {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.errorMessage {
    color: red;
    margin-bottom: 20px;
}

.activityDetails {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
}

.activityDetails p {
    margin: 5px 0;
}

button {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    outline: none; /* Remove the blue outline on focus */
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 90%;
    max-width: 600px;
}

.modalContent {
    text-align: left;
}

.memberItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.memberProfile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.backButton {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    outline: none; /* Remove the blue outline on focus */
    margin-top: 20px;
}

.backButton:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}