.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("https://www.gameuidatabase.com/uploads/Genshin-Impact01032021-021443-79651.jpg"); /* Add your background image URL */
    background-size: cover;
    text-align: center;
    font-family: Arial, sans-serif;
}

.runUploadPage {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.runuploadHeader {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 20px;
}

.errorMessage {
    color: red;
    margin-bottom: 20px;
}

.timestampBox {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.distanceInput {
    margin-bottom: 20px;
}

.distanceInput label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

.distanceInput input {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.imageUpload {
    margin-bottom: 20px;
}

.imageUpload label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

.imageUpload input {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.uploadedImage {
    margin-top: 10px;
    max-width: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
}

.startButton, .submitButton, .cancelButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    outline: none; /* Remove the blue outline on focus */
}

.startButton:hover, .submitButton:hover, .cancelButton:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.submittedMessage {
    color: green;
    margin-top: 20px;
    font-size: 1rem;
}