.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #FFDEE9, #B5FFFC);
    font-family: 'Arial', sans-serif;
    color: #444;
}

.runUploadPage {
    width: 100%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #34495e;
}

.timestampBox p {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.distanceInput label,
.imageUpload label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #34495e;
}

.distanceInput input,
.imageUpload input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.distanceInput input:focus,
.imageUpload input:focus {
    border-color: #63D1FF;
}

.uploadedImage {
    max-width: 100%;
    max-height: 400px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.buttonGroup {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.startButton,
.submitButton,
.cancelButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 0.5rem 0;
    flex: 1;
    margin: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.startButton {
    background: linear-gradient(to right, #63D1FF, #3498db);
    box-shadow: 0 4px 12px rgba(99, 209, 255, 0.25);
}

.startButton:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(99, 209, 255, 0.35);
}

.submitButton {
    background: linear-gradient(to right, #27ae60, #2ecc71);
    box-shadow: 0 4px 12px rgba(39, 174, 96, 0.25);
}

.submitButton:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(39, 174, 96, 0.35);
}

.cancelButton {
    background: linear-gradient(to right, #FF867C, #FEB2A8);
    box-shadow: 0 4px 12px rgba(255, 134, 124, 0.25);
}

.cancelButton:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 134, 124, 0.35);
}

.errorMessage {
    color: #FF867C;
    margin-bottom: 1rem;
}

.submittedMessage {
    color: #27ae60;
    margin-top: 1rem;
}
