/* student_ExerciseCard.module.css */

.exerciseCard {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 16px 0;
    transition: transform 0.3s ease;
}

.exerciseCard:hover {
    transform: scale(1.02);
}

.exerciseCard h4 {
    margin: 0 0 8px;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
}

.exerciseCard p {
    margin: 4px 0;
    color: #555;
    font-family: Arial, sans-serif;
}

.exerciseCard input {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.exerciseCard button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.exerciseCard button:hover {
    background-color: #0056b3;
}

.SignInSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tokenInput {
    padding: 10px 20px;
    margin: 5px 0; /* Adds a little space above and below the input */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 42px); /* Adjusts width to fit parent while accounting for padding */
    box-sizing: border-box; /* Ensures padding doesn't affect the overall width */
}

.SignOutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.exerciseCard button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.exerciseCard button:hover {
    background-color: #0056b3;
}