/* login.module.css */

.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
}

.login_box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 400px;
}

.login_header {
    text-align: center;
    margin-bottom: 1.5rem;
}

/*.login_header {*/
/*    background-color: #212121;*/
/*    color: white;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 1rem 2rem;*/
/*    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);*/
/*    position: sticky;*/
/*    top: 0;*/
/*    z-index: 50;*/
/*}*/

.login_header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.login_header p {
    color: #666;
}

.error_message {
    color: #ff0000;
    margin-bottom: 1rem;
    text-align: center;
}

.form_group {
    margin-bottom: 1rem;
}

.form_group label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.form_group input,
.form_group select {
    width: 80%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button_group {
    display: flex;
    justify-content: space-between;
}

.submit_button,
.back_button {
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.submit_button {
    background-color: #3b82f6;
    color: white;
}

.submit_button:hover {
    background-color: #1d4ed8;
    transform: translateY(-2px);
}

.back_button {
    background-color: #10b981;
    color: white;
}

.back_button:hover {
    background-color: #047857;
    transform: translateY(-2px);
}
