/* Main.css */

.App {
    text-align: center;
    background: linear-gradient(135deg, #FFDEE9, #B5FFFC);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Arial', sans-serif;
}

.App-header {
    background-color: #34495e;
    padding: 20px;
    color: white;
    width: 100%; /* Ensure the header spans the full width */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fixes the header at the top */
    top: 0;

}

.App-header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.user-section {
    display: flex;
    align-items: center;
}

.user-avatar {
    margin-left: 20px;
    cursor: pointer;
    font-size: 24px;
}

.dropdown-menu {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    right: 20px;
    top: 60px;
    width: 150px;
    text-align: left;
}

.dropdown-menu p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu p:last-child {
    border-bottom: none; /* Remove border from last item */
}

.dropdown-menu p:hover {
    background: #FFD3E8; /* Light background for hover */
}

main {
    width: 90%;
    max-width: 1000px;
    margin-top: 100px; /* Adjusted to give space for the fixed header */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    background: rgba(255, 255, 255, 0.9);
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: left;
}

section h2 {
    border-bottom: 2px solid #63D1FF;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #444;
}

.notification-board {
    padding: 10px;
    background: #f9f9f9;
    border-radius: 10px;
}

.notification-board p {
    background: #ffeecf;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.button-group button {
    margin: 10px;
}

.btn {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.login-btn {
    background: linear-gradient(to right, #FF867C, #FEB2A8);
    color: white;
    box-shadow: 0 4px 12px rgba(255, 134, 124, 0.25);
}

.login-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 134, 124, 0.35);
}

.activity-btn {
    background: linear-gradient(to right, #8e44ad, #3498db);
    color: white;
    box-shadow: 0 4px 12px rgba(142, 68, 173, 0.25);
}

.activity-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(142, 68, 173, 0.35);
}

.exercise-btn {
    background: linear-gradient(to right, #27ae60, #2ecc71);
    color: white;
    box-shadow: 0 4px 12px rgba(39, 174, 96, 0.25);
}

.exercise-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(39, 174, 96, 0.35);
}