/* rename.module.css */

.rename_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rename_box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rename_header {
    text-align: center;
}

.form_group {
    margin-bottom: 15px;
}

.lbl {
    display: block;
    font-weight: bold;
}

.textInput {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button_group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn {
    width: 48%; /* Adjust width as needed */
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.error_message {
    color: red;
    margin-top: 10px;
}
