/* Sidebar.module.css */
.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #212121;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Roboto', sans-serif;
}

.leftSection {
    display: flex;
    align-items: center;
}

.rightSection {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: -20px; /* 减少右侧内容的右边距 */
}

.title {
    font-size: 24px;
    margin-right: 20px;
    color: #ffffff
}

.navLink, .navButton {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
}

.navLink:hover, .navButton:hover {
    background-color: #0056b3;
}

.userAvatar {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 60px;
}

.avatarImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 16px;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    color: #333333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 60px;
    right: 60px;
    z-index: 1001;
}

.dropdownMenu p {
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
}

.dropdownMenu p:hover {
    color: #007bff;
}