/* Sidebar.module.css */
.sidebar {
    background-color: #212121;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.userAvatar {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.avatarImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.logoutButton {
    background-color: white;
    color: #212121;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.username {
    margin-right: 10px;
}

.link {
    color: white;
    text-decoration: none;
    margin-left: 10px; /* 与标题之间的间距 */
    transition: color 0.3s ease; /* 鼠标悬停时颜色平滑过渡 */
}

.link:hover {
    color: #66b3ff; /* 鼠标悬停时的颜色 */
}

.active {
    color: #66b3ff; /* 当前选中链接的颜色 */
}